* {
  background-color: blanchedalmond;
  color: rgb(30, 53, 53);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mainpage {
  font-size: 22px;
}
img {
  display: inline-block; /* Wraps around the content */
  filter: drop-shadow(20px 20px 10px rgb(108, 82, 43));
  line-height: 0;
}