/* All documents */

html {
  box-sizing: border-box;
}

*,
*::before,
*,::after {
  box-sizing: inherit;
}

body {
  background-color: #ffebcd;
  color: #1e3535;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 800px;
}

a:link,
a:visited {
  border: 2px solid #fdb851;
  background-color: rgb(251, 211, 152);
  text-decoration-line: none;
  padding: 16px;
  border-radius: 10px;
  color: inherit;
}
a:hover,
a:active {
  color: white;
}
a:hover {
  background-color: #fdb851;
}

a:active {
  background-color: #bb7b1b;
  border-color: #bb7b1b;
}

/* Main */

body {
  margin: auto;
}

body#main {
  text-align: center;
}
#main h1 {
  border: 10px dotted #fdb851;
  margin: 100px auto;
  padding: 50px;
}

#main a {
  margin: 0 -3px;
  display: inline-block;
  width: 150px;
  height: 75px;
  vertical-align: top;
}

#main .midoption {
  margin: 0 100px;
}

/* Recipes */

header,
section,
footer {
  padding: 16px 8px;
}

body#recipe header {
  text-decoration: underline dotted 8px #fdb851;
}

section {
  width: 50%;
  float: left;
  text-align: justify;
}

#food-pic {
  filter: drop-shadow(20px 20px 10px rgb(108, 82, 43));
}

body#recipe footer {
  margin: 30px 0;
  text-align: center;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}